In [74]:
from sqlalchemy import create_engine, text
import pandas as pd

In [95]:
path = r"data/Census_Data.sqlite"
path2 = r"data/zip_census.sqlite"

In [103]:
sql_query = "SELECT * FROM Census_Data"
sql2 = "SELECT * FROM zip_census"

In [77]:
engine = create_engine(f"sqlite:///{path}")
connection = engine.connect()

In [101]:
def run_sql_query(sql_query,engine):
    with engine.connect() as connection:
        data = connection.execute(text(sql_query))
        connection.commit()
    return data

In [98]:
def showsql(sql):
    for entry in sql:
        print(entry)

In [79]:
tev = run_sql_query(sql_query,engine)
for entry in tev:
    # print(entry)
    pass

In [106]:
loop = create_engine(f"sqlite:///{path2}")
conn = loop.connect()
# showsql(run_sql_query(sql2,loop))

In [105]:
data = pd.read_sql(sql=sql2, con= conn)

TypeError: __init__() got multiple values for argument 'schema'