In [50]:
from sqlalchemy import create_engine, text
import pandas as pd

In [51]:
path = r"data/Census_Data.sqlite"

In [52]:
sql_query = "SELECT * FROM Census_Data"

In [53]:
engine = create_engine(f"sqlite:///{path}")
connection = engine.connect()

In [54]:
def run_sql_query(sql_query):
    with engine.connect() as connection:
        data = connection.execute(text(sql_query))
        connection.commit()
    return data

In [55]:
tev = run_sql_query(sql_query)
for entry in tev:
    # print(entry)
    pass

In [58]:
loop = create_engine(f"sqlite:///{path}")
connectio = loop.connect()

In [59]:
data = pd.read_sql(sql_query,connectio)

TypeError: __init__() got multiple values for argument 'schema'